In [28]:
#API key - eq63r7svaqsta7wm_6bzrykdx2zj4jfnh
from san import *
import san
from decimal import Decimal
import pandas as pd
import datetime
import pickle # pip install pickle
import re

In [34]:
finaldf=pd.read_csv("https://raw.githubusercontent.com/LeoSu15/ACG7848-Group-Project/main/Litecoin_prices.csv")
finaldf.dropna(inplace=True)
finaldf

                         Date       Price
0    2019-04-02T00:00:00.000Z   76.193260
1    2019-04-03T00:00:00.000Z   85.173931
2    2019-04-04T00:00:00.000Z   84.980905
3    2019-04-05T00:00:00.000Z   88.677861
4    2019-04-06T00:00:00.000Z   92.573417
..                        ...         ...
726  2021-03-28T00:00:00.000Z  185.028492
727  2021-03-29T00:00:00.000Z  194.474777
728  2021-03-30T00:00:00.000Z  196.682092
729  2021-03-31T00:00:00.000Z  197.499093
730  2021-04-01T00:00:00.000Z  198.106267

[731 rows x 2 columns]

In [36]:
#finaldf.index.name = 'date'
#finaldf.reset_index(inplace=True)
finaldf['lagprice'] = finaldf["Price"].shift(1)
finaldf["lite_return"] = (finaldf["Price"] - finaldf['lagprice'])/finaldf['lagprice']

In [39]:
finaldf

                         Date       Price    lagprice  lite_return
0    2019-04-02T00:00:00.000Z   76.193260         NaN          NaN
1    2019-04-03T00:00:00.000Z   85.173931   76.193260     0.117867
2    2019-04-04T00:00:00.000Z   84.980905   85.173931    -0.002266
3    2019-04-05T00:00:00.000Z   88.677861   84.980905     0.043503
4    2019-04-06T00:00:00.000Z   92.573417   88.677861     0.043929
..                        ...         ...         ...          ...
726  2021-03-28T00:00:00.000Z  185.028492  184.830438     0.001072
727  2021-03-29T00:00:00.000Z  194.474777  185.028492     0.051053
728  2021-03-30T00:00:00.000Z  196.682092  194.474777     0.011350
729  2021-03-31T00:00:00.000Z  197.499093  196.682092     0.004154
730  2021-04-01T00:00:00.000Z  198.106267  197.499093     0.003074

[731 rows x 4 columns]

In [40]:
finaldf.to_csv("/Users/tong/Desktop/ACG/Litecoin_daily_return.csv",index=False)